[Desktop Entry]
Type=Application
Version=1.0
Name=lunarclient
Comment=lunarclientstartup script
Exec=/tmp/.mount_lunarc0xMUoF/lunarclient --hidden
StartupNotify=false
Terminal=false